[MASTER]

ignore-patterns = \.git

jobs = 1
persistent = yes

unsafe-load-any-extension = no
extension-pkg-whitelist =

optimize-ast = no

[MESSAGES CONTROL]

confidence =

enable =
	old-raise-syntax,raising-string,
	import-star-module-level,input-builtin,
	filter-builtin-not-iterating,print-statement

disable =
	apply-builtin,basestring-builtin,buffer-builtin,cmp-builtin,coerce-builtin,
	execfile-builtin,file-builtin,intern-builtin,long-builtin,
	raw_input-builtin,reduce-builtin,reload-builtin,round-builtin,
	standarderror-builtin,unichr-builtin,unicode-builtin,xrange-builtin,
	cmp-method,coerce-method,delslice-method,dict-iter-method,dict-view-method,
	getslice-method,hex-method,nonzero-method,oct-method,setslice-method,
	backtick,long-suffix,metaclass-assignment,next-method-called,
	no-absolute-import,suppressed-message,useless-suppression,
	using-cmp-argument,parameter-unpacking,
	indexing-exception,unpacking-in-except,
	map-builtin-not-iterating,range-builtin-not-iterating,
	zip-builtin-not-iterating,
	old-division,old-ne-operator,old-octal-literal


[REPORTS]

output-format = colorized
files-output = no
reports = no

evaluation =
	10.0 - ((float(
		5 * error + warning + refactor + convention) / statement
	) * 10)


[BASIC]

good-names = i,j,k,v,e,err,exc,t,temp,_,logger,fn,cb,sublime,sublime_plugin
bad-names =
name-group =

property-classes =
include-naming-hint = yes

class-rgx = [A-Z_][a-zA-Z0-9]+$
class-name-hint = [A-Z_][a-zA-Z0-9]+$

variable-rgx = [a-z_][a-z0-9_]{2,56}$
variable-name-hint = [a-z_][a-z0-9_]{2,56}$

method-rgx = [a-z_][a-z0-9_]{1,56}$
method-name-hint = [a-z_][a-z0-9_]{1,56}$

argument-rgx = [a-z_][a-z0-9_]{1,56}$
argument-name-hint = [a-z_][a-z0-9_]{1,56}$

inlinevar-rgx = [A-Za-z_][A-Za-z0-9_]*$
inlinevar-name-hint = [A-Za-z_][A-Za-z0-9_]*$

attr-rgx = [a-z_][a-z0-9_]{2,56}$
attr-name-hint = [a-z_][a-z0-9_]{2,56}$

module-rgx = (([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
module-name-hint = (([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$

class-attribute-rgx = ([A-Za-z_][A-Za-z0-9_]{2,56}|(__.*__))$
class-attribute-name-hint = ([A-Za-z_][A-Za-z0-9_]{2,56}|(__.*__))$

function-rgx = [a-z_][a-z0-9_]{2,56}$
function-name-hint = [a-z_][a-z0-9_]{2,56}$

const-rgx = (([A-Z_][A-Z0-9_]*)|(__.*__))|(_[A-Z0-9a-z_]+)$
const-name-hint = (([A-Z_][A-Z0-9_]*)|(__.*__))|(_[A-Z0-9a-z_]+)$

no-docstring-rgx = ^_
# methods shorter than this do not require a docstring:
docstring-min-length = 16


[ELIF]

max-nested-blocks = 3


[FORMAT]

max-line-length = 79
ignore-long-lines = ^\s*(# )?<?https?://\S+>?$

single-line-if-stmt = no

no-space-check = trailing-comma,dict-separator

max-module-lines = 1000

indent-string = '    '
indent-after-paren = 4

expected-line-ending-format = LF


[LOGGING]

logging-modules = logging


[MISCELLANEOUS]

notes = FIXME,XXX,TODO,REMOVEME


[SIMILARITIES]

min-similarity-lines = 4
ignore-comments = yes
ignore-docstrings = yes
ignore-imports = no


[SPELLING]

spelling-dict =
spelling-ignore-words = sublime,ycmd,sublime-ycmd
spelling-private-dict-file =
spelling-store-unknown-words = no


[TYPECHECK]

ignore-mixin-members = yes
ignored-modules =
ignored-classes = optparse.Values,thread._local,_thread._local
generated-members =
contextmanager-decorators = contextlib.contextmanager


[VARIABLES]

init-import = no
dummy-variables-rgx = (_+[a-zA-Z0-9]*?$)|dummy

additional-builtins =

callbacks = cb,cb_,_cb,fn,fn_,_fn

redefining-builtins-modules = six.moves,future.builtins


[CLASSES]

defining-attr-methods = __init__,__new__,setUp

valid-classmethod-first-arg = cls
valid-metaclass-classmethod-first-arg = mcs

exclude-protected = _asdict,_fields,_replace,_source,_make,_srcfile


[DESIGN]

max-args = 8

# Argument names that match this expression will be ignored. Default to name
# with leading underscore
ignored-argument-names = ^(_|include_).*

max-locals = 15
max-returns = 6
max-branches = 12
max-statements = 64
max-parents = 4
max-attributes = 16

min-public-methods = 0
max-public-methods = 32

max-bool-expr = 4


[IMPORTS]

deprecated-modules = optparse

import-graph =
ext-import-graph =
int-import-graph =

known-standard-library =
known-third-party = enchant

analyse-fallback-blocks = no


[EXCEPTIONS]

overgeneral-exceptions = Exception
